C# 문법 및 네트워크/WCF/Azure 클라/1115_이미지(1)/Connected Services/ServiceReference1/GetAzure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AzureServiceLoad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Analyze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imagebuffer" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imagerbuffer" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListSql">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shorturl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AzureServiceClose">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AzureServiceLoadACK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reusult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyzeACK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="analystrig" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractTextACK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="analystrig" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListSqlACK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectItemACK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AzureServiceCloseACK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reuslt" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>