.NET WCF/6_testcli/Connected Services/ServiceReference1/Testserivce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Testserivce" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_Itest_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:9000/GetService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:9000/GetService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:9000/GetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_1120_testSer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Itest_test_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:test_Insert" />
  </wsdl:message>
  <wsdl:message name="Itest_test_List_InputMessage">
    <wsdl:part name="parameters" element="tns:test_List" />
  </wsdl:message>
  <wsdl:message name="Itest_test_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:test_Delete" />
  </wsdl:message>
  <wsdl:message name="Itest_test_Insert2_InputMessage">
    <wsdl:part name="parameters" element="tns:test_Insert2" />
  </wsdl:message>
  <wsdl:message name="Itest_test_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:test_Update" />
  </wsdl:message>
  <wsdl:message name="Itest_Insert2_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Insert2" />
  </wsdl:message>
  <wsdl:message name="Itest_Insert_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="Itest_Delete_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Itest_List_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="Itest_Update_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="Itest">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="test_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/Itest/test_Insert" message="tns:Itest_test_Insert_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="test_List">
      <wsdl:input wsaw:Action="http://tempuri.org/Itest/test_List" message="tns:Itest_test_List_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="test_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/Itest/test_Delete" message="tns:Itest_test_Delete_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="test_Insert2">
      <wsdl:input wsaw:Action="http://tempuri.org/Itest/test_Insert2" message="tns:Itest_test_Insert2_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="test_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/Itest/test_Update" message="tns:Itest_test_Update_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Insert2">
      <wsdl:output wsaw:Action="http://tempuri.org/Itest/Insert2" message="tns:Itest_Insert2_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Insert">
      <wsdl:output wsaw:Action="http://tempuri.org/Itest/Insert" message="tns:Itest_Insert_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Delete">
      <wsdl:output wsaw:Action="http://tempuri.org/Itest/Delete" message="tns:Itest_Delete_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="List">
      <wsdl:output wsaw:Action="http://tempuri.org/Itest/List" message="tns:Itest_List_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Update">
      <wsdl:output wsaw:Action="http://tempuri.org/Itest/Update" message="tns:Itest_Update_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_Itest" type="tns:Itest">
    <wsp:PolicyReference URI="#NetTcpBinding_Itest_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="test_Insert">
      <soap12:operation soapAction="http://tempuri.org/Itest/test_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="test_List">
      <soap12:operation soapAction="http://tempuri.org/Itest/test_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="test_Delete">
      <soap12:operation soapAction="http://tempuri.org/Itest/test_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="test_Insert2">
      <soap12:operation soapAction="http://tempuri.org/Itest/test_Insert2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="test_Update">
      <soap12:operation soapAction="http://tempuri.org/Itest/test_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <soap12:operation soapAction="http://tempuri.org/Itest/Insert2" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Itest/Insert" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Itest/Delete" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/Itest/List" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Itest/Update" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Testserivce">
    <wsdl:port name="NetTcpBinding_Itest" binding="tns:NetTcpBinding_Itest">
      <soap12:address location="net.tcp://127.0.0.1:8000/Test" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:8000/Test</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>